@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
/* usar o google fonts para pegar fontes */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    /* usado para eliminar as bolinhas de lista do <li> */
    box-sizing: border-box;
    /* controla a largura dos elementos para serem reduzidos para se encaixarem no tamanho do site com width */
    font-family: "Host Grotesk", sans-serif;
    /* sempre usar o font family com o nome da fonte em aspas e "sans-serif" */
}

:root {
    --cor-01: #06c;
    --cor-02: #000;
    --cor-03: #CCC;
    --cor-04: #FFF;
    /* usado para facilitar o uso de cores no site e facilitar sua alteração se necessário */
}

.container {
    max-width: 1200px;
    /* para o site continuar em um tamanho fixo se for diminuido o zoom (tamanho padrão de sites: 1200px)*/
    margin: 0 auto;
    /* para o conteudo continuar no centro */
}

#cabecalho {
    background-color: var(--cor-02);
    margin-bottom: 20px;
}

#cabecalho #logo {
    width: 30px;
}

#cabecalho .container {
    display: flex;
    /* para o cabeçalho ficara ao lado da logo */
    justify-content: space-between;
    /* usado para que a logo fique de um lado e o cabeçalho do outro */
    align-items: center;
    /* deixa a logo no seu formato normal */
}

/* Menu */
#menu ul {
    display: flex;
    /* ele faz com que todos os elementos fiquem um ao lado do outro */
}

#menu ul a {
    color: var(--cor-04);
    text-decoration: none;
    /* remove o sublinhado automatico dos textos com link */
    display: block;
    /* link ser um bloco */
    padding: 20px 30px;
    transition: all 0.3s linear;
    /* a troca de cor ser mais suave */
}

#menu ul a:hover {
    background-color: var(--cor-01);
    /* mudar a cor quando passar o mouse */
}

#menu .submenu {
    position: absolute;
    /* menus flutuando proximo ao menu modelos */
    display: none;
    /* submenu oculto */
    background-color: var(--cor-02);
    z-index: 1;
    /* define camadas, nesse caso o submenu fica por cima do menu slide */
}

#menu li:hover .submenu {
    display: block;
    /* submenu ficará visivel quando passar o mouse por cima da opção "modelos" */
}

.titulo {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

#historia {
    margin-bottom: 85px;
}

#historia img {
    width: 400px;
    border-radius: 30px;
    float: left;
    margin-right: 20px;
}

#historia p {
    text-align: justify;
    margin-bottom: 15px;
}

#rodape {
    text-align: center;
    color: var(--cor-04);
    padding: 30px;
    background-color: var(--cor-02);
}


#fotos #galeria {
    display: grid;
    /* aparecer em grade */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* quantidade de fotos por linhas, no caso 4 por ter 4 1fr */
    gap: 30px;
    /* espaço entre as fotos */
    margin-bottom: 50px;
}

#fotos #galeria img {
    display: block;
    width: 100%;
    /* centraliza o grid com imagens */
    transition: all 0.3s linear;
}

#fotos #galeria img:hover {
    transform: scale(1.1);
    /* a imagem fica maior quando passa o mouse por cima (1.1 = aumenta em 10%, 0.9 = diminui o tamanho em 10%) */
}

#videos #galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
}

#rodape a {
    color: var(--cor-04);
    text-decoration: none;
}

#rodape a:hover {
    text-decoration: underline;
}